<div class="col mt-0 pt-0">
  <div class="card text-bg-dark border border-danger mb-3 pb-3">
    <% if photo.image_data? %>
      <a href="<%= photo_path(photo) %>">
        <img src="<%= photo.image_url(:medium) %>" class="card-img-top bg-danger" alt="...">
      </a>
      <div class="card-body bg-dark">
        <%= render 'sort_photos/sorter', photo: photo %><span class="fs-6"><%= photo.title %></span>
      </div>
    <% end %>
  </div>
</div>
