<button type="button" class="list-group-item list-group-item-action py-1" id="<%= category.category_name %>">
  <div class="row">
    <div class="col item-name">
      <%= category.category_name %>
    </div>
  </div>
</button>
