<!DOCTYPE html>
<html lang="en">
  <head>
    <title class="bg-danger">Josh Exotic's Prviate Parts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width,initial-scale = 1.0,maximum-scale = 1.0,user-scalable=no" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script>
      <%= render partial: 'layouts/lockup/inline_js' %>
    </script>
  </head>

  <body class="bg-danger">
    <div class="container">
      <%= yield %>
      <img src="../../../assets/mural.png" class="img-fluid" alt="...">
    </div>
  </body>
</html>
