<h1>About Bloccit</h1>
<p>Created by: Eon</p>

<!--Don't know what's going on here:

1. If I assign the button element the class: social-btn, it inherits display property set to none and of course is invisible
   sample: <button class="social-btn"><%= link_to "WTF", "http://espn.go.com/" %></button>
2. Same thing happens if I assign a the button an id of social-btn
3. I assume this has someting to do with bootstrap having namespaced the class social-btn
4. Because if I change the class name to anything else, my css assignements translate when the page is rendered
   example: <button class="soc-btn"><%= link_to "WTF", "http://espn.go.com/", id: "red" %></button>
5. However, if I don't style the buttons at all, they appear the way the video makes them appear - except the font color is slightly different
   #337ab7 vs #00aced
   I had to change the font from within link_to helper method with a separate css declaration - when I did it within the soc-btn declaration, it was ignore or overwritten or whatever.
-->
<button><%= link_to "click it", "http://espn.go.com/", class: "btn-color" %></button>
<button class="soc-btn"><%= link_to "WTF", "http://espn.go.com/", id: "red" %></button>
