<h1>Editing original photo</h1>

<%= render "form", original_photo: @original_photo %>

<br>

<div>
  <%= link_to "Show this original photo", @original_photo %> |
  <%= link_to "Back to original photos", original_photos_path %>
</div>
