<% Category.all.pluck(:category_name).each do |tag_name| %>
  <div class="form-row">
    <%= f.fields_for :tags, OpenStruct.new(photo.tags) do |ff| %>
        <div class="form-group">
          <%= ff.label tag_name %>
          <%= ff.check_box tag_name, {checked: selected_checkbox(photo, tag_name)}, tag_name, true  %>
        </div>
    <% end %>
  </div>
<% end %>
