<% name_and_val.each do |category_name, category_id| %>
  <div class="form-row">
    <%= f.fields_for :tags, OpenStruct.new(photo.tags) do |ff| %>
        <div class="form-group">
          <%= ff.label category_name %>
          <%= ff.check_box category_id, {checked: selected_checkbox(photo, category_id)}, category_id, true  %>
        </div>
    <% end %>
  </div>
<% end %>
